<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/mainLayout">

<head>
<title>Import Settings</title>
</head>
<body>
	
	<div layout:fragment="pageHeader">
		<section class="content-header">
			<h1>
				Amazon <small>Import Books</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="../home"><i class="fa fa-home"></i> Home</a></li>
				<li class="active"><i class="fa  fa-amazon"></i> Import Books</li>
			</ol>
		</section>

	</div>

	<div layout:fragment="content">
		<div class="row">
		
		</div>
	</div>
	<script th:inline="javascript">
	
	</script>	

</body>
</html>