<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/adminLayout">

<head>
<title>Admin Notification - Inbox</title>
</head>
<body>
	<div layout:fragment="pageHeader">
		<ol class="breadcrumb">
			<!-- Breadcrumb Menu-->
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Notification
			</li>
		</ol>
	</div>

	<div layout:fragment="content">
		<div class="right_col" role="main">
			<div class="">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Notification</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li>
										<div class="box-tools">
											<div class="input-group" style="width: 150px;">
												<a class="btn btn-sm btn-default"
													th:href="@{/notification/deletes}"><i
													class="fa fa-minus-circle"></i> Delete All</a>
											</div>
										</div>
									</li>
									<li><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Settings 1</a></li>
											<li><a href="#">Settings 2</a></li>
										</ul></li>
									<li><a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							Inbox
							<div class="x_content">
								<table id="datatable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Severity</th>
											<th>Date</th>
											<th>Title</th>
											<th>Description</th>
											<th>View</th>
											<th>Remove</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="notification,iterStat : ${notification}">
											<td th:text="${iterStat.count}">1</td>
											<td th:text="${notification.severity}">Severity</td>
											<td th:text="${notification.date_added}">Date Added</td>
											<td th:text="${notification.title}">Title</td>
											<td th:text="${notification.description}">Description</td>
											<td><a th:href="${notification.url}" target="_blank"
												class="btn btn-sm btn-default"><i class="fa fa-search"></i> View</a></td>
											<td><a th:href="@{/notification/{notification_id}(id=${notification.notification_id})}"
												class="btn btn-sm btn-default"><i class="fa fa-minus"></i> Remove</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>